.tileSet {
  display: flex;
  flex-wrap: wrap;
}

.group {
  width: 85px;
}

.title {
  font-size: 14px;
}

.block {
  max-height: 50px;
  max-width: 50px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: monospace;
}
