{
  "extends": "pagarme-react",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "implicit-arrow-linebreak":  "off",
    "react/jsx-wrap-multilines": ["error", {
      "declaration": "parens",
      "assignment": "parens",
      "return": "parens",
      "arrow": "parens",
      "condition": "ignore",
      "logical": "ignore",
      "prop": "ignore"
    }],
    "operator-linebreak": [
      "error",
      "before",
      { "overrides": { "=": "after", ":": "after", "?": "after" } }
    ]
  }
}
