@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

body {
  background-color: var(--color-light-platinum-100);
  margin: 0;
}

.cardTilemap {
  max-width: 85vw;
}

.cardTilemap canvas {
  padding-top: var(--spacing-tiny);
}
