@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

body { /* stylelint-disable-line */
  background-color: var(--color-light-platinum-100);
  margin: 0;
}

.cardTilemap {
  max-width: calc(85vw - 530px);
}

.cardTilemap canvas {
  padding-top: var(--spacing-tiny);
}

.containerFirstRow {
  display: flex;
  flex-wrap: nowrap;
}

.cardEmulator {
  max-width: 530px;
  margin-left: var(--spacing-small);
}

.cardEmulator > div > div:first-child {
  padding-bottom: var(--spacing-tiny);
}

.containerSecondRow {
  display: flex;
  flex-wrap: nowrap;
}

.cardObjectsDetail {
  flex-shrink: 2;
  margin-left: var(--spacing-small);
}
